$color-white: #ffffff;
$color-light-gray: #e6e6e6;
$color-white-opacity: rgba(255, 255, 255, 0.50);
$color-light-green-opacity: rgba(152, 228, 145, 0.40);
$color-dark-gray: #121517;
$color-darker-gray: #0b0e12;
$color-light-green: #98e491;
$color-deep-green: #30492d;
$color-darkest-gray: #101317;

$font-logo: 'Bonheur Royale', cursive;
$font-text: 'Noto Sans', sans-serif;

$base-size: 12px;